<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='/css/index.css'>
  <link rel='stylesheet' href='/css/reset.css'>
  <link rel='stylesheet' href='/css/user-manager.css'>
</head>
<body>
    <div class="index">
        <%- include('./common/header.ejs',{username:username,nickname:nickname,is_admin:is_admin}) %>
        <div class="container">
            <%- include('./common/menu.ejs',{is_admin:is_admin}) %>
            <div class=main>
                <form action='/user-search' method='get'>
                    <input type='text' placeholder="请输入昵称" name='searchname' class='searchname'>
                    <input type='submit' value='搜索' class='sub'>
                </form>
                <table border:1>
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>用户名</td>
                            <td>昵称</td>
                            <td>年龄</td>
                            <td>性别</td>
                            <td>手机号</td>
                            <td>是否管理员</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                        <tbody>
                            <% for(var i=0;i < userList.length;i++){ %>
                                <tr>
                                    <td><%= userList[i]._id %></td>
                                    <td><%= userList[i].username %></td>
                                    <td><%= userList[i].nickname %></td>
                                    <td><%= userList[i].age || '-' %></td>
                                    <td><%= userList[i].sex || '-' %></td>
                                    <td><%= userList[i].phone || '-' %></td>
                                    <td><%= parseInt(userList[i].is_admin)? '是' :'否' %></td>
                                    <td>
                                        <% if(userList[i].username===username){ %>
                                            <a class="updataBtn">修改</a>
                                        <% }else if(parseInt(userList[i].is_admin)){ %>
                                              
                                        <% }else{ %>
                                            <a class="updataBtn">修改</a>
                                            <a href='/user-delete?_id=<%= userList[i]._id %>'>删除</a>
                                        <% } %>
                                       
                                    </td>
                                </tr>
                            <% } %>
                            
                        </tbody>                   
                </table>
               
                <ul>
                    <% for(var j=0;j < totalpage; j++){ %>
                        <li>
                            <% if(searchname){%>
                                <a href='/user-search?searchname=<%= searchname %>&page=<%= j+1 %>'><%= j+1 %></a>
                            <% }else{ %>
                                <a href='/user-manager.html?page=<%= j+1 %>'><%= j+1 %></a>
                            <% } %>
                        </li>
                    <% } %>
                </ul>
               
            </div>
        </div>
    </div>
   
    <div class='updata'>
        <p class='head'>修改用户的信息</p>
        <form action="/user-updataAfter" method='post'>
            <div class="id_none" >
                <label>序号:</label>
                <input type='text' name='_id' class='text _id' >
            </div>
            <div>
                <label>用户名:</label>
                <input type='text' name='username' class='text username' readonly='readonly'>
            </div>
            <div >
                <label>昵称:</label>
                <input type='text' name='nickname' class='text nickname' >
            </div>
            <div>
                <label>年龄:</label>
                <input type='text' name='age' class='text age' >
            </div>
            <div>
                <label>性别:</label>
                <input type='text' name='sex' class='text sex' >
            </div>
            <div>
                <label>手机号:</label>
                <input type='text' name='phone' class='text phone' >
            </div>
            <div>
                <label>管理员:</label>
                <input type='radio' name='is_admin' value='1'>yes
                <input type='radio' name='is_admin' value='0' checked>no
            </div>
            <div class='button'>
                <input type='submit' value='确定' class="submit">
                <span class="submit">取消</span>
            </div>
        </form>
    </div>
   
</body>
</html>
<script src='lib/jquery/jquery.min.js'></script>
<script src='js/user_manager.js'></script>
